# Network configuration
PRIVATE_KEY=
INFURA_API_KEY=

# Explorer API keys
ETHERSCAN_API_KEY=
POLYGONSCAN_API_KEY=

# Contract deployment
TREASURY_ADDRESS=
REPORT_GAS=true

# Contract verification
VERIFICATION_ENABLED=true